@import url('https://fonts.googleapis.com/css?family=Monoton|Nosifer|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



body{
     
	margin:0;
	width: 100%;
	padding: 0;
	background-size:  100%;
	background-repeat: no-repeat;
	
}




.menu{
  
  height: 0px;
  width: 100%;
  z-index: 2;
   
  padding:40px;


  
} 
.menu h1 {
color: #67be84; 
   z-index: 2;
  text-align: center;
  font-size: 35px;
  font-family: "Nosifer";
   
}
.menu p{
  color: #67be84;
 z-index: 2;
  text-align: center; 
  font-size: 30px;
  font-family: "Monoton";

}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.ggg {
	font-family:  'Rock Salt', cursive;
	color: red;
  animation-name: bounceInUp;
  animation-duration: 2s;  
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}



.muzlo {

  margin-top: 50px;
  height: 470px;
  overflow: auto;
 
}

img {
	width: 100%;
	height: 300px;
	opacity: 0.5;
}

img:hover {
	opacity: 1;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}




.animation1 {
  animation-name: bounceInLeft;
  animation-duration: 2s;
}


@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {	
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.animation2 {
  animation-name: bounceInRight;
  animation-duration: 2s;
}

p{
font-family:  'Rock Salt', cursive;
color: red;
font-size: 30px;

}


.video{
   display: block;
  
  padding: 20px;
  height: 30em;
  
  

}
iframe{
border: 2px solid white;
border-radius: 5px;
opacity: 0.3;
min-width: 100%;
min-height: 100%;
max-height: 280px;
max-width: 460px;
display: block;
width: 90%;
height: 100%;


}
iframe:hover{
  opacity: 1;
  

}
.clear{
  clear: both;
}

.footer{ 
background:black;  
height: 100px;
width: 100%;
opacity: 0.3;


}

.footer >a h1 {

  opacity: 1;
}

.container-fluid{
   padding: 0px !important;

}

@media screen 
     
      (max-width: 768px;) {
      .muzlo{
       margin: 50px auto;
       width: 100px;

      }
}






